<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trip-passenger-heading" jhiTranslate="carpoolingApp.tripPassenger.home.createOrEditLabel">Create or edit a Trip Passenger</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tripPassenger.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripPassenger.passengerStatus" for="field_passengerStatus">Passenger Status</label>
                    <select class="form-control" name="passengerStatus" formControlName="passengerStatus" id="field_passengerStatus">
                        <option value="DRIVES">{{'carpoolingApp.PassengerStatus.DRIVES' | translate}}</option>
                        <option value="PASSENGER">{{'carpoolingApp.PassengerStatus.PASSENGER' | translate}}</option>
                        <option value="NOT_GOING">{{'carpoolingApp.PassengerStatus.NOT_GOING' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('passengerStatus').invalid && (editForm.get('passengerStatus').dirty || editForm.get('passengerStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('passengerStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripPassenger.ratio" for="field_ratio">Ratio</label>
                    <input type="number" class="form-control" name="ratio" id="field_ratio"
                           formControlName="ratio"/>
                    <div *ngIf="editForm.get('ratio').invalid && (editForm.get('ratio').dirty || editForm.get('ratio').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratio').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ratio')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripPassenger.canDrive" for="field_canDrive">Can Drive</label>
                    <input type="checkbox" class="form-control" name="canDrive" id="field_canDrive"
                           formControlName="canDrive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripPassenger.groupMember" for="field_groupMember">Group Member</label>
                    <select class="form-control" id="field_groupMember" name="groupMember" formControlName="groupMember">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupMemberOption.id === editForm.get('groupMember').value?.id ? editForm.get('groupMember').value : groupMemberOption" *ngFor="let groupMemberOption of groupmembers; trackBy: trackGroupMemberById">{{groupMemberOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripPassenger.tripDay" for="field_tripDay">Trip Day</label>
                    <select class="form-control" id="field_tripDay" name="tripDay" formControlName="tripDay">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tripDayOption.id === editForm.get('tripDay').value?.id ? editForm.get('tripDay').value : tripDayOption" *ngFor="let tripDayOption of tripdays; trackBy: trackTripDayById">{{tripDayOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
