<div>
    <h2 id="page-heading">
        <span jhiTranslate="carpoolingApp.tripPassenger.home.title">Trip Passengers</span>
        <button id="jh-create-entity" class="btn btn-info float-right jh-create-entity create-trip-passenger" [routerLink]="['/trip-passenger/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="carpoolingApp.tripPassenger.home.createLabel">
            Create new Trip Passenger
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tripPassengers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="carpoolingApp.tripPassenger.passengerStatus">Passenger Status</span></th>
            <th><span jhiTranslate="carpoolingApp.tripPassenger.ratio">Ratio</span></th>
            <th><span jhiTranslate="carpoolingApp.tripPassenger.canDrive">Can Drive</span></th>
            <th><span jhiTranslate="carpoolingApp.tripPassenger.groupMember">Group Member</span></th>
            <th><span jhiTranslate="carpoolingApp.tripPassenger.tripDay">Trip Day</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tripPassenger of tripPassengers ;trackBy: trackId">
                <td><a [routerLink]="['/trip-passenger', tripPassenger.id, 'view' ]">{{tripPassenger.id}}</a></td>
                <td jhiTranslate="{{'carpoolingApp.PassengerStatus.' + tripPassenger.passengerStatus}}">{{tripPassenger.passengerStatus}}</td>
                <td>{{tripPassenger.ratio}}</td>
                <td>{{tripPassenger.canDrive}}</td>
                <td>
                    <div *ngIf="tripPassenger.groupMember">
                        <a [routerLink]="['../group-member', tripPassenger.groupMember?.id, 'view' ]" >{{tripPassenger.groupMember?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tripPassenger.tripDay">
                        <a [routerLink]="['../trip-day', tripPassenger.tripDay?.id, 'view' ]" >{{tripPassenger.tripDay?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trip-passenger', tripPassenger.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trip-passenger', tripPassenger.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trip-passenger', { outlets: { popup: tripPassenger.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
