<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tripPassenger">
            <h2><span jhiTranslate="carpoolingApp.tripPassenger.detail.title">Trip Passenger</span> {{tripPassenger.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carpoolingApp.tripPassenger.passengerStatus">Passenger Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'carpoolingApp.PassengerStatus.' + tripPassenger.passengerStatus}}">{{tripPassenger.passengerStatus}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.tripPassenger.ratio">Ratio</span></dt>
                <dd>
                    <span>{{tripPassenger.ratio}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.tripPassenger.canDrive">Can Drive</span></dt>
                <dd>
                    <span>{{tripPassenger.canDrive}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.tripPassenger.groupMember">Group Member</span></dt>
                <dd>
                    <div *ngIf="tripPassenger.groupMember">
                        <a [routerLink]="['/group-member', tripPassenger.groupMember?.id, 'view']">{{tripPassenger.groupMember?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.tripPassenger.tripDay">Trip Day</span></dt>
                <dd>
                    <div *ngIf="tripPassenger.tripDay">
                        <a [routerLink]="['/trip-day', tripPassenger.tripDay?.id, 'view']">{{tripPassenger.tripDay?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip-passenger', tripPassenger.id, 'edit']"
                    class="btn btn-info">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
