<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-group-member-heading" jhiTranslate="carpoolingApp.groupMember.home.createOrEditLabel">Create or edit a Group Member</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!groupMember.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.authId" for="field_authId">Auth Id</label>
                    <input type="text" class="form-control" name="authId" id="field_authId"
                           formControlName="authId"/>
                    <div *ngIf="editForm.get('authId').invalid && (editForm.get('authId').dirty || editForm.get('authId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.canDrive" for="field_canDrive">Can Drive</label>
                    <input type="checkbox" class="form-control" name="canDrive" id="field_canDrive"
                           formControlName="canDrive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.permission" for="field_permission">Permission</label>
                    <select class="form-control" name="permission" formControlName="permission" id="field_permission">
                        <option value="USER">{{'carpoolingApp.Role.USER' | translate}}</option>
                        <option value="ADMIN">{{'carpoolingApp.Role.ADMIN' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('permission').invalid && (editForm.get('permission').dirty || editForm.get('permission').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('permission').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.driverRatio" for="field_driverRatio">Driver Ratio</label>
                    <input type="number" class="form-control" name="driverRatio" id="field_driverRatio"
                           formControlName="driverRatio"/>
                    <div *ngIf="editForm.get('driverRatio').invalid && (editForm.get('driverRatio').dirty || editForm.get('driverRatio').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('driverRatio').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('driverRatio')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.groupMember.tripGroup" for="field_tripGroup">Trip Group</label>
                    <select class="form-control" id="field_tripGroup" name="tripGroup" formControlName="tripGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tripGroupOption.id === editForm.get('tripGroup').value?.id ? editForm.get('tripGroup').value : tripGroupOption" *ngFor="let tripGroupOption of tripgroups; trackBy: trackTripGroupById">{{tripGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
