<div>
    <h2 id="page-heading">
        <span jhiTranslate="carpoolingApp.groupMember.home.title">Group Members</span>
        <button id="jh-create-entity" class="btn btn-info float-right jh-create-entity create-group-member" [routerLink]="['/group-member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="carpoolingApp.groupMember.home.createLabel">
            Create new Group Member
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="groupMembers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.authId">Auth Id</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.firstName">First Name</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.lastName">Last Name</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.email">Email</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.phone">Phone</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.canDrive">Can Drive</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.permission">Permission</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.driverRatio">Driver Ratio</span></th>
            <th><span jhiTranslate="carpoolingApp.groupMember.tripGroup">Trip Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupMember of groupMembers ;trackBy: trackId">
                <td><a [routerLink]="['/group-member', groupMember.id, 'view' ]">{{groupMember.id}}</a></td>
                <td>{{groupMember.authId}}</td>
                <td>{{groupMember.firstName}}</td>
                <td>{{groupMember.lastName}}</td>
                <td>{{groupMember.email}}</td>
                <td>{{groupMember.phone}}</td>
                <td>{{groupMember.canDrive}}</td>
                <td jhiTranslate="{{'carpoolingApp.Role.' + groupMember.permission}}">{{groupMember.permission}}</td>
                <td>{{groupMember.driverRatio}}</td>
                <td>
                    <div *ngIf="groupMember.tripGroup">
                        <a [routerLink]="['../trip-group', groupMember.tripGroup?.id, 'view' ]" >{{groupMember.tripGroup?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/group-member', groupMember.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-member', groupMember.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'group-member', { outlets: { popup: groupMember.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
