<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupMember">
            <h2><span jhiTranslate="carpoolingApp.groupMember.detail.title">Group Member</span> {{groupMember.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carpoolingApp.groupMember.authId">Auth Id</span></dt>
                <dd>
                    <span>{{groupMember.authId}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.firstName">First Name</span></dt>
                <dd>
                    <span>{{groupMember.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.lastName">Last Name</span></dt>
                <dd>
                    <span>{{groupMember.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.email">Email</span></dt>
                <dd>
                    <span>{{groupMember.email}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.phone">Phone</span></dt>
                <dd>
                    <span>{{groupMember.phone}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.canDrive">Can Drive</span></dt>
                <dd>
                    <span>{{groupMember.canDrive}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.permission">Permission</span></dt>
                <dd>
                    <span jhiTranslate="{{'carpoolingApp.Role.' + groupMember.permission}}">{{groupMember.permission}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.driverRatio">Driver Ratio</span></dt>
                <dd>
                    <span>{{groupMember.driverRatio}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.groupMember.tripGroup">Trip Group</span></dt>
                <dd>
                    <div *ngIf="groupMember.tripGroup">
                        <a [routerLink]="['/trip-group', groupMember.tripGroup?.id, 'view']">{{groupMember.tripGroup?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group-member', groupMember.id, 'edit']"
                    class="btn btn-info">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
