<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <div style="position: fixed; left: 0; right: 0; bottom: 0;">
        <jhi-alert></jhi-alert>
    </div>
    <!-- <jhi-footer></jhi-footer> -->
</div>