<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tripGroup">
            <h2><span jhiTranslate="carpoolingApp.tripGroup.detail.title">Trip Group</span> {{tripGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carpoolingApp.tripGroup.groupName">Group Name</span></dt>
                <dd>
                    <span>{{tripGroup.groupName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip-group', tripGroup.id, 'edit']"
                    class="btn btn-info">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
