<div>
    <h2 id="page-heading">
        <span jhiTranslate="carpoolingApp.tripGroup.home.title">Trip Groups</span>
        <button id="jh-create-entity" class="btn btn-info float-right jh-create-entity create-trip-group" [routerLink]="['/trip-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="carpoolingApp.tripGroup.home.createLabel">
            Create new Trip Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tripGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="carpoolingApp.tripGroup.groupName">Group Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tripGroup of tripGroups ;trackBy: trackId">
                <td><a [routerLink]="['/trip-group', tripGroup.id, 'view' ]">{{tripGroup.id}}</a></td>
                <td>{{tripGroup.groupName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trip-group', tripGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trip-group', tripGroup.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trip-group', { outlets: { popup: tripGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
