<div>
    <h2 id="page-heading">
        <span jhiTranslate="carpoolingApp.tripDay.home.title">Trip Days</span>
        <button id="jh-create-entity" class="btn btn-info float-right jh-create-entity create-trip-day" [routerLink]="['/trip-day/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="carpoolingApp.tripDay.home.createLabel">
            Create new Trip Day
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tripDays">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="carpoolingApp.tripDay.tripDate">Trip Date</span></th>
            <th><span jhiTranslate="carpoolingApp.tripDay.tripGroup">Trip Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tripDay of tripDays ;trackBy: trackId">
                <td><a [routerLink]="['/trip-day', tripDay.id, 'view' ]">{{tripDay.id}}</a></td>
                <td>{{tripDay.tripDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="tripDay.tripGroup">
                        <a [routerLink]="['../trip-group', tripDay.tripGroup?.id, 'view' ]" >{{tripDay.tripGroup?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trip-day', tripDay.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trip-day', tripDay.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trip-day', { outlets: { popup: tripDay.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
