<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trip-day-heading" jhiTranslate="carpoolingApp.tripDay.home.createOrEditLabel">Create or edit a Trip Day</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tripDay.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripDay.tripDate" for="field_tripDate">Trip Date</label>
                    <div class="d-flex">
                        <input id="field_tripDate" type="datetime-local" class="form-control" name="tripDate" formControlName="tripDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('tripDate').invalid && (editForm.get('tripDate').dirty || editForm.get('tripDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tripDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tripDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="carpoolingApp.tripDay.tripGroup" for="field_tripGroup">Trip Group</label>
                    <select class="form-control" id="field_tripGroup" name="tripGroup" formControlName="tripGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tripGroupOption.id === editForm.get('tripGroup').value?.id ? editForm.get('tripGroup').value : tripGroupOption" *ngFor="let tripGroupOption of tripgroups; trackBy: trackTripGroupById">{{tripGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
