<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tripDay">
            <h2><span jhiTranslate="carpoolingApp.tripDay.detail.title">Trip Day</span> {{tripDay.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carpoolingApp.tripDay.tripDate">Trip Date</span></dt>
                <dd>
                    <span>{{tripDay.tripDate}}</span>
                </dd>
                <dt><span jhiTranslate="carpoolingApp.tripDay.tripGroup">Trip Group</span></dt>
                <dd>
                    <div *ngIf="tripDay.tripGroup">
                        <a [routerLink]="['/trip-group', tripDay.tripGroup?.id, 'view']">{{tripDay.tripGroup?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip-day', tripDay.id, 'edit']"
                    class="btn btn-info">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
