/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  background: url('../../content/images/app_logo_large.png') no-repeat center center fixed;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
