<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div [ngSwitch]="isAuthenticated()">
            <div class="app-loading" *ngIf="loading">
            </div>
            <div *ngIf="!loading && nextTripDays">
                <div *ngFor="let tripDay of nextTripDays ;trackBy: trackId; let i = index;">
                    <h5>{{tripDay.tripDate | date:'EEEE, dd/MM/yyyy'}}</h5>
                    <div class="row">
                        <table class="table">
                            <tbody *ngFor="let tripPassenger of nextTripDayPassengers.get(tripDay.id) ;"
                                [ngClass]="{'blink-bg': nextTripDayDriverSuggestion.has(tripDay.id) && nextTripDayDriverSuggestion.get(tripDay.id) === 
                                tripPassenger.groupMember}">
                                <tr>
                                    <td class="col-md-6">{{tripPassenger.groupMember.firstName}}
                                        {{tripPassenger.groupMember.lastName}}
                                    </td>
                                    <td>
                                        <fa-icon (click)="switchDrives(tripPassenger)" style="cursor: pointer"
                                            [styles]="{'color': tripPassenger.passengerStatus === 'DRIVES'? '' : '#D3D3D3'}"
                                            [icon]="'car'"></fa-icon>
                                    </td>
                                    <td class="col-md-3">{{ tripPassenger.groupMember.driverRatio | number : '.2-2' }}%
                                    </td>
                                    <td class="col-md-3" (click)="removePassenger(tripDay, tripPassenger)"
                                        style="cursor: pointer">X</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <select
                                *ngIf="nextTripDaySelectableMembers.has(tripDay.id) && nextTripDaySelectableMembers.get(tripDay.id).length"
                                class="form-control" [ngModel]="selectedMember"
                                (change)="addMemberAsPassenger(tripDay, $event.target.value)">
                                <option [value]="null" disabled>Añade un pasajero</option>
                                <option *ngFor="let member of nextTripDaySelectableMembers.get(tripDay.id)"
                                    [value]="member.id">{{ member.firstName }} {{ member.lastName }}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <a *ngIf="nextTripDaySelectableMembers.has(tripDay.id) && nextTripDaySelectableMembers.get(tripDay.id).length"
                                (click)="addAllAsPassengers(tripDay)">Añadir a todos como pasajeros</a>
                        </div>
                    </div>
                    <hr *ngIf="tripDay.lastInWeek" />
                </div>
            </div>
            <div *ngSwitchCase="false">
                <!-- Photo by Jose Losada on Unsplash -->
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <h1 class="display-4" jhiTranslate="home.title">¿Quién conduce?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <video width="100%" controls>
                            <source src="/content/videos/help.mp4">
                            Your browser does not support the video tag.
                        </video> </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <button type="button" class="btn btn-primary" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>