.app-loading {
  margin: auto;
  margin-top: 30vh;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/app_logo_large.png');
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: rotate 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(33deg);
  }
  20% {
    transform: rotateY(66deg);
  }
  30% {
    transform: rotateY(99deg);
  }
  40% {
    transform: rotateY(132deg);
  }
  50% {
    transform: rotateY(165deg);
  }
  60% {
    transform: rotateY(199deg);
  }
  70% {
    transform: rotateY(232deg);
  }
  80% {
    transform: rotateY(265deg);
  }
  90% {
    transform: rotateY(300deg);
  }
  100% {
    transform: rotateY(333deg);
  }
}
